<form *ngIf="!isLogin" [formGroup]="loginForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
  <div class="form-group">
    <input type="text" formControlName="userName" class="form-control mr-sm-2" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" formControlName="password" class="form-control mr-sm-2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
</form>

<div *ngIf="isLogin" class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Welcome
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" (click)="logout()" [routerLink]="['/home']">Logout</a>
  </div>
</div>