<div class="container">
    <div class="row">
        <div class="rounded mx-auto d-block">
            <img class="img-responsive center-block"
                src="https://icon-library.net/images/read-book-icon/read-book-icon-26.jpg" />
        </div>
    </div>
</div>