<div class="container">
  <div class="row flex-wrap">

    <div *ngFor="let book of bookList" class="card">
      <img class="card-img-top image-preview" src="{{book.url}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">{{book.title}}</p>
        <span *ngFor="let author of book.authors" >{{author.firstName}} {{author.lastName }}</span>
        <p class="card-price card-author">{{book.price}} €</p>
        <button type="submit" class="btn btn-block btn-primary" (click)="addToCart(book)">Add to cart</button>
      </div>
    </div>
  </div>

</div>