<nav class=" navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Book Store</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/books']">Books</a>
      </li>
    </ul>
    <button class="btn" (click)="openDialog()">
        <i class="fa fa-shopping-cart fa-2x"></i>
    </button>
  </div>
</nav>

