<div class="md-dialog-container">

  <p>Total price: {{totalPrice}} €</p>

  <table mat-table [dataSource]="booksFromStorage"> 
    
    <ng-container matColumnDef="url">
      <th *matHeaderCellDef></th>
      <td *matCellDef="let row">
        <img class="cart-image" src="{{row.url}}" alt="">
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef> Title </th>
      <td class="font-weight-bold" *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    
    <ng-container matColumnDef="authors">
      <th *matHeaderCellDef> Authors </th>
      <td *matCellDef="let row"> {{row.authors}} </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th *matHeaderCellDef> Genre </th>
      <td *matCellDef="let row"> {{row.genre}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef> Price </th>
      <td *matCellDef="let row"> {{row.price}} € </td>
    </ng-container>

    <ng-container matColumnDef="quantity">  
      <th *matHeaderCellDef> Quantity </th>
      <td *matCellDef="let row"> 
        <ng-number-picker [(value)]="itemsCount"></ng-number-picker>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>