.bd-highlight {
    border: 2px solid rgba(86,61,124,0.15);
    margin: 1%;
}
.image-preview{
    width: 100%;
    height: 50%;
    padding: 0%;
    margin: 0%;
}
.card{
    width: 100vw;
    padding: 1%;
}
button.btn {
    margin-top: auto;
}
.card-body {
    display: flex;
    flex-direction: column;
  }
  .card-title{
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
  }
  .card-price{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #FF0072
  }
  .card-price{
    vertical-align: bottom
  }
  .md-dialog-container {
    width: 65vw;
    height: 55vh
}
.cart-image{
  width: 4vw;
}
td, th {
  width: 100vw;
  border: 2px solid rgba(86,61,124,0.15);
}