<body>
  <app-nav-menu></app-nav-menu>
  <div class="container bd-highlight ">
    <div class="row">
        <app-side-menu class="col-3 bd-highlight"></app-side-menu>
        <div class="col-9 bd-highlight"> 
          <router-outlet ></router-outlet>
        </div>
    </div>
  </div>
</body>


<!-- 
<div class="container d-flex justify-content-between">
    <app-side-menu class="bd-highlight"></app-side-menu>
    <div class="bd-highlight flex-fill">
        <router-outlet></router-outlet>
    </div> 
  </div> -->